# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Lambda build artifacts
build/
**/.build/
*.zip

# Python
__pycache__/
*.py[cod]
.venv/
venv/
